.header {
    background: #B1464A;
    width: 100%;
    padding: 24px 0;
}
.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding: 0 23px;
}

.header-list a:hover {
    color: wheat;
}

.header-icon {
    margin-left: 10px;
}

.header-icon ion-icon {
    padding: 16px;
    border-radius: 6px;
    background: #FFF;
    font-weight: 600;
    cursor: pointer;
}
